@charset "utf-8";
.footer_float {
    width: 100%;
    height: 80px;
    background: url(footer_float.jpg) no-repeat top center;
    position: fixed;
    bottom: 0px;
}

.imgContainer {
    width: 100%;
    min-width: 1000px;
    position: relative;
    height: 925px;
    background-position: center 0;
    background-repeat: no-repeat;
    opacity: 0;
    -webkit-transition: opacity 1s ease-out;
    transition: opacity 1s ease-out;
    -moz-transition: opacity 1s ease-out;
    -ms-transition: opacity 1s ease-out;
    -o-transition: opacity 1s ease-out;
}

.Malta_01 {
    width: 100%;
    height: 100px;
    margin: 0px auto;
    background: url(Malta_01.jpg) no-repeat top center;
}

.Malta_02 {
    width: 100%;
    height: 100px;
    margin: 0px auto;
    background: url(Malta_02.jpg) no-repeat top center;
}

.Malta_03 {
    width: 100%;
    height: 100px;
    margin: 0px auto;
    background: url(Malta_03.jpg) no-repeat top center;
}

.Malta_04 {
    width: 100%;
    height: 100px;
    margin: 0px auto;
    background: url(Malta_04.jpg) no-repeat top center;
}

.Malta_05 {
    width: 100%;
    height: 100px;
    margin: 0px auto;
    background: url(Malta_05.jpg) no-repeat top center;
}

.Malta_06 {
    width: 100%;
    height: 100px;
    margin: 0px auto;
    background: url(Malta_06.jpg) no-repeat top center;
}

.Malta_07 {
    width: 100%;
    height: 112px;
    margin: 0px auto;
    background: url(Malta_07.jpg) no-repeat top center;
}

.Malta_08 {
    width: 100%;
    height: 111px;
    margin: 0px auto;
    background: #f2f2f2 url(Malta_08.jpg) no-repeat top center;
}

.Malta_09 {
    width: 100%;
    height: 111px;
    margin: 0px auto;
    background: #f2f2f2 url(Malta_09.jpg) no-repeat top center;
}

.Malta_10 {
    width: 100%;
    height: 112px;
    margin: 0px auto;
    background: #f2f2f2 url(Malta_10.jpg) no-repeat top center;
}

.Malta_11 {
    width: 100%;
    height: 111px;
    margin: 0px auto;
    background: #f2f2f2 url(Malta_11.jpg) no-repeat top center;
}

.Malta_12 {
    width: 100%;
    height: 111px;
    margin: 0px auto;
    background: #f2f2f2 url(Malta_12.jpg) no-repeat top center;
}

.Malta_13 {
    width: 100%;
    height: 111px;
    margin: 0px auto;
    background: #f2f2f2 url(Malta_13.jpg) no-repeat top center;
}

.Malta_14 {
    width: 100%;
    height: 112px;
    margin: 0px auto;
    background: url(Malta_14.jpg) no-repeat top center;
}

.Malta_15 {
    width: 100%;
    height: 112px;
    margin: 0px auto;
    background: url(Malta_15.jpg) no-repeat top center;
}

.Malta_16 {
    width: 100%;
    height: 111px;
    margin: 0px auto;
    background: url(Malta_16.jpg) no-repeat top center;
}

.Malta_17 {
    width: 100%;
    height: 112px;
    margin: 0px auto;
    background: url(Malta_17.jpg) no-repeat top center;
}

.Malta_18 {
    width: 100%;
    height: 112px;
    margin: 0px auto;
    background: url(Malta_18.jpg) no-repeat top center;
}

.Malta_19 {
    width: 100%;
    height: 108px;
    margin: 0px auto;
    background: #f2f2f2 url(Malta_19.jpg) no-repeat top center;
}

.Malta_20 {
    width: 100%;
    height: 107px;
    margin: 0px auto;
    background: #f2f2f2 url(Malta_20.jpg) no-repeat top center;
}

.Malta_21 {
    width: 100%;
    height: 108px;
    margin: 0px auto;
    background: #f2f2f2 url(Malta_21.jpg) no-repeat top center;
}

.Malta_22 {
    width: 100%;
    height: 107px;
    margin: 0px auto;
    background: #f2f2f2 url(Malta_22.jpg) no-repeat top center;
}

.Malta_23 {
    width: 100%;
    height: 102px;
    margin: 0px auto;
    background: url(Malta_23.jpg) no-repeat top center;
}

.Malta_24 {
    width: 100%;
    height: 101px;
    margin: 0px auto;
    background: url(Malta_24.jpg) no-repeat top center;
}

.Malta_25 {
    width: 100%;
    height: 102px;
    margin: 0px auto;
    background: url(Malta_25.jpg) no-repeat top center;
}

.Malta_26 {
    width: 100%;
    height: 102px;
    margin: 0px auto;
    background: url(Malta_26.jpg) no-repeat top center;
}

.Malta_27 {
    width: 100%;
    height: 101px;
    margin: 0px auto;
    background: url(Malta_27.jpg) no-repeat top center;
}

.Malta_28 {
    width: 100%;
    height: 102px;
    margin: 0px auto;
    background: url(Malta_28.jpg) no-repeat top center;
}

.Malta_29 {
    width: 100%;
    height: 102px;
    margin: 0px auto;
    background: url(Malta_29.jpg) no-repeat top center;
}

.Malta_30 {
    width: 100%;
    height: 102px;
    margin: 0px auto;
    background: url(Malta_30.jpg) no-repeat top center;
}

.Malta_31 {
    width: 100%;
    height: 101px;
    margin: 0px auto;
    background: url(Malta_31.jpg) no-repeat top center;
}

.Malta_32 {
    width: 100%;
    height: 102px;
    margin: 0px auto;
    background: url(Malta_32.jpg) no-repeat top center;
}

.Malta_33 {
    width: 100%;
    height: 113px;
    margin: 0px auto;
    background: url(Malta_33.jpg) no-repeat top center;
}

.Malta_34 {
    width: 100%;
    height: 100px;
    margin: 0px auto;
    background: url(Malta_34.jpg) no-repeat top center;
}

.Malta_35 {
    width: 100%;
    height: 100px;
    margin: 0px auto;
    background: url(Malta_35.jpg) no-repeat top center;
}

.Malta_36 {
    width: 100%;
    height: 100px;
    margin: 0px auto;
    background: url(Malta_36.jpg) no-repeat top center;
}

.Malta_37 {
    width: 100%;
    height: 100px;
    margin: 0px auto;
    background: url(Malta_37.jpg) no-repeat top center;
}

.Malta_38 {
    width: 100%;
    height: 100px;
    margin: 0px auto;
    background: url(Malta_38.jpg) no-repeat top center;
}

.Malta_39 {
    width: 100%;
    height: 100px;
    margin: 0px auto;
    background: url(Malta_39.jpg) no-repeat top center;
}

.Malta_40 {
    width: 100%;
    height: 100px;
    margin: 0px auto;
    background: url(Malta_40.jpg) no-repeat top center;
}

.Malta_41 {
    width: 100%;
    height: 100px;
    margin: 0px auto;
    background: url(Malta_41.jpg) no-repeat top center;
}

.Malta_42 {
    width: 100%;
    height: 100px;
    margin: 0px auto;
    background: url(Malta_42.jpg) no-repeat top center;
}

.Malta_43 {
    width: 100%;
    height: 101px;
    margin: 0px auto;
    background: url(Malta_43.jpg) no-repeat top center;
}

.Malta_44 {
    width: 100%;
    height: 100px;
    margin: 0px auto;
    background: url(Malta_44.jpg) no-repeat top center;
}

.Malta_45 {
    width: 100%;
    height: 100px;
    margin: 0px auto;
    background: url(Malta_45.jpg) no-repeat top center;
}

.Malta_46 {
    width: 100%;
    height: 100px;
    margin: 0px auto;
    background: url(Malta_46.jpg) no-repeat top center;
}

.Malta_47 {
    width: 100%;
    height: 100px;
    margin: 0px auto;
    background: url(Malta_47.jpg) no-repeat top center;
}

.Malta_48 {
    width: 100%;
    height: 100px;
    margin: 0px auto;
    background: url(Malta_48.jpg) no-repeat top center;
}

.Malta_49 {
    width: 100%;
    height: 100px;
    margin: 0px auto;
    background: url(Malta_49.jpg) no-repeat top center;
}

.Malta_50 {
    width: 100%;
    height: 100px;
    margin: 0px auto;
    background: url(Malta_50.jpg) no-repeat top center;
}

.Malta_51 {
    width: 100%;
    height: 100px;
    margin: 0px auto;
    background: url(Malta_51.jpg) no-repeat top center;
}

.Malta_52 {
    width: 100%;
    height: 100px;
    margin: 0px auto;
    background: url(Malta_52.jpg) no-repeat top center;
}

.Malta_53 {
    width: 100%;
    height: 100px;
    margin: 0px auto;
    background: url(Malta_53.jpg) no-repeat top center;
}

.Malta_54 {
    width: 1000px;
    height: 300px;
    margin: 0px auto;
    text-align: center;
}

.Malta_07 a {
    width: 1000px;
    height: 112px;
    margin: 0px auto;
    display: block;
}

.Malta_33 a {
    width: 1000px;
    height: 113px;
    margin: 0px auto;
    display: block;
}

.Malta_07 .hte1 {
    width: 1000px;
    height: 112px;
    margin: 0px auto;
    background: url(btn.gif) no-repeat 884px 60px;
}

.Malta_33 .hte1 {
    width: 1000px;
    height: 113px;
    margin: 0px auto;
    background: url(btn.gif) no-repeat 885px 60px;
}