<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>德国蓝卡项目</title>
<!--系统css-->
<link rel="stylesheet" href="../../resource/css/bootstrap.min.css" type="text/css" />
<link rel="stylesheet" href="../../resource/css/jquery.bxslider.css" type="text/css" />
<link rel="stylesheet" href="../../resource/css/layer.css" type="text/css" />
<link rel="stylesheet" href="../../resource/css/common.css" type="text/css" />
<!--页面css-->
<link href="style.css" rel="stylesheet" type="text/css" />
</head>

<body>
	<!-- 头部开始 -->
			<div class="tpy-header"><!--header头部开始-->
			<div class="tpy-header-top">
				<div class="container tpy-top-container">
					<div class="row">
						<div class="col-xs-2 tpy-header-company">
							<span>北京</span><span class="tpy-company-branch">分公司</span>
							<ul class="tpy-company-ul hide">
								<li><a href="#">沈阳</a></li>
								<li><a href="#">大连</a></li>
								<li><a href="#">长春</a></li>
								<li><a href="#">南京</a></li>
								<li><a href="#">上海</a></li>
								
							</ul>
						</div>
						<div class="col-xs-7 tpy-header-contact">
							<span class="tpy-contact-chat">微信关注</span><!--<span class="tpy-contact-tel">直接联系</span>-->
							<div class="tpy-chat-box hide">
								<div class="col-xs-6">
									<p><img src="../../resource/images/tpy-chat.jpg" alt="" /></p>
									<p>关注订阅号</p>
								</div>
								<div class="col-xs-6">
									<p><img src="../../resource/images/tpy-chat.jpg" alt="" /></p>
									<p>关注服务号</p>
								</div>
							</div>
							<div class="tpy-tel-box hide">
								<p><img src="../../resource/images/tpy-tel-code.jpg" alt="" /></p>
								<p>扫码直接拨打电话</p>
							</div>
						</div>
						<div class="col-xs-2 tpy-header-phone pull-right">400-610-8118</div>
					</div>
				</div>
			</div>
			<div class="tpy-header-bottom">
				<div class="container tpy-bottom-container">
					<div class="row">
						<div class="col-xs-5 tpy-header-logo"><img src="../../resource/images/tpy-logo.png" alt="" /></div>
						<div class="col-xs-3 col-xs-offset-4 tpy-header-status">
							<div class="tpy-login alignItem">
								<div class="tpy-login-img"><img src="../../resource/images/person-head.jpg" alt="" /></div>
								<div class="tpy-login-name">yonghuming</div>
							</div>
							<div class="tpy-login-box hide">
								<!--<p><a href="#">我的业务</a></p>
								<p><a href="#">我的活动</a></p>-->
								<p><a href="#">退出登录</a></p>
								
							</div>
						</div>						
					</div>
					<div class="row">
						<div class="col-xs-8 tpy-header-nav">
							<ul>
								<li class="on"><a href="#">首页</a><i></i></li>
								<li class="js-nav-country">
									<a href="#">移民国家</a><i></i>
									<div class="nav-country-box js-country-box hide">
										<div class="nav-country-left">
											<p><a href="#">美洲</a></p>
											<p><a href="#">大洋洲</a></p>
											<p><a href="#">欧洲</a></p>
											<p><a href="#">非洲</a></p>
										</div>
										<div class="nav-country-right">
											<p><a href="#">美国</a><a href="#">阿根廷</a><a href="#">委内瑞拉</a><a href="#">阿根廷</a></p>
											<p><a href="#">澳大利亚</a><a href="#">新西兰</a></p>
											<p><a href="#">英国</a><a href="#">法国</a></p>
											<p><a href="#">埃及</a></p>
											
										</div>
									</div>
								</li>
								<li class="js-nav-country">
									<a href="#">移民项目</a><i></i>
									<div class="nav-country-box js-country-box hide">
										<div class="nav-country-left">
											<p><a href="#">投资移民</a></p>
											<p><a href="#">购房移民</a></p>
											<p><a href="#">技术移民</a></p>
											<p><a href="#">创业移民</a></p>
											<p><a href="#">留学移民</a></p>
										</div>
										<div class="nav-country-right">
											<p><a href="#">美国</a><a href="#">阿根廷</a><a href="#">委内瑞拉</a><a href="#">阿根廷</a></p>
											<p><a href="#">澳大利亚</a><a href="#">新西兰</a></p>
											<p><a href="#">英国</a><a href="#">法国</a></p>
											<p><a href="#">埃及</a></p>
											<p><a href="#">南非</a></p>
										</div>
									</div>
								</li>
								<li><a href="#">移民评估</a><i></i></li>
								<li class="js-nav-company">
									<a href="#">GO太平洋</a><i></i>
									<div class="nav-company-box hide">
										<p><a href="#">公司简介</a></p>
										<p><a href="#">公司动态</a></p>
										<p><a href="#">荣誉资质</a></p>
										<p><a href="#">专业团队</a></p>
										<p><a href="#">成功案例</a></p>
										<p><a href="#">诚邀合作</a></p>
										<p><a href="#">诚聘英才</a></p>
										<p><a href="#">联系我们</a></p>
										<p><a href="#">投诉建议</a></p>
									</div>
								</li>
							</ul>
						</div>
						<div class="col-xs-4 tpy-header-coopration">
							<span>战略合作伙伴</span>
							<a class="coop-zhtx" href="#">智慧天下</a>
							<a class="coop-ztx" href="#">宅天下</a>
						</div>
					</div>
				</div>
			</div>
		</div><!--header头部结束-->


    <!-- 头部结束 -->
    <div class="imgContainer" style="height:600px; background-color:#fff;" imgUrl="deguo2_01.jpg"></div>
    <div class="imgContainer" style="height:250px; background-color:#fff;" imgUrl="deguo2_02.jpg"></div>
    <div class="imgContainer" style="height:592px; background-color:#fff;" imgUrl="deguo2_03.jpg"></div>
    <div class="imgContainer" style="height:270px; background-color:#f7f7f7;" imgUrl="deguo2_04.jpg"></div>
    <div class="imgContainer" style="height:550px; background-color:#f7f7f7;" imgUrl="deguo2_05.jpg">
    	<div class="center">
        	<a href="http://tb.53kf.com/code/client/10141314/1]" target="_blank" class="deguo2-05"></a>
        </div>
    </div>
    <div class="imgContainer" style="height:519px; background-color:#f7f7f7;" imgUrl="deguo2_06.jpg"></div>
    <div class="imgContainer" style="height:235px; background-color:#fff;" imgUrl="deguo2_07.jpg"></div>
    <div class="imgContainer" style="height:340px; background-color:#fff;" imgUrl="deguo2_08.jpg"></div>
    <div class="imgContainer" style="height:538px; background-color:#fff;" imgUrl="deguo2_09.jpg"></div>
    <div class="imgContainer" style="height:270px; background-color:#fff;" imgUrl="deguo2_10.jpg"></div>
    <div class="imgContainer" style="height:270px; background-color:#f7f7f7;" imgUrl="deguo2_11.jpg"></div>
    <div class="imgContainer" style="height:270px; background-color:#f7f7f7;" imgUrl="deguo2_12.jpg"></div>
    <div class="imgContainer" style="height:592px; background-color:#f7f7f7;" imgUrl="Germany_09.jpg">
    	<div class="center">
    		<form name="ztliuyanform" id="ztliuyanform" enctype="application/x-www-form-urlencoded" method="post" action="http://www.pacificimmi.com/~do/?Data-ztliuyan.html" onsubmit="return Validator.Validate(this,2)">
	             <dl>
	               <dd><input name="title" type="text" class="Message-input" datatype="Require" placeholder="请输入姓名"></dd>
	               <dd><input name="tel" type="text" class="Message-input" datatype="Mobile" placeholder="请输入电话"></dd>
	               <dd><textarea name="message" type="text" class="Message-input1" datatype="message" placeholder="请输入留言"></textarea></dd>
	               <dd><input type="submit" class="btn1" value=" "></dd>
	             </dl>
                 
            </form>
    	</div>
    </div>
    <!-- 底部开始 -->
			<div class="tpy-footer"><!--footer尾部开始-->
			<div class="container tpy-footer-container">
				<div class="row alignItem pb-20">
					<div class="col-xs-5">
					<div class="mb-20 tpy-logo-set"><img src="../../resource/images/tpy-footer-logo.png" alt="" /></div>
						<p>北京太平洋加达出国顾问股份有限公司 </p>
						<p>地址：北京市朝阳区建国门外大街19号中信国际大厦A座22层</p>
						<p>客服邮箱：bj@pacificimmi.com </p>
						<p>全国咨询热线：400-610-8118 </p>
						<p>资讯服务热线：010-65918118</p>
					</div>
					<div class="col-xs-3 tpy-foot-code">
						<div class="col-xs-6"><img src="../../resource/images/tpy-chat.jpg"/></div>
						<div class="col-xs-6"><img src="../../resource/images/tpy-chat.jpg"/></div>
					</div>
					<div class="col-xs-3 col-xs-offset-1">
						<p class="pTB-15 pl-0">友情链接</p>
						<ul class="foot-flink">
							<li><a href="#">外汇返佣网</a></li>
							<li><a href="#">君合海医</a></li>
							<li><a href="#">智慧天下</a></li>
							<li><a href="#">宅天下</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="tpy-footer-bottom">
				<span>北京太平洋加达出国顾问股份有限公司</span><span>京ICP备11023370号 版权所有</span><span>京公网安备11010502020736</span>
			</div>
		</div><!--footer尾部结束-->


	<!-- 底部结束 -->

	<script src="../../resource/js/system/jquery-2.2.0.min.js"></script>
	<script src="../../resource/js/system/layer.js"></script>
	<script src="../../resource/js/modules/jquery.bxslider.js"></script>
	<script src="../../resource/js/modules/common.js"></script>
	<script src="../../resource/js/modules/yzm.js"></script>
	<script src="../../resource/js/modules/formValidate.js"></script>
	<script>
	$(function(){
		(function(){
			function loadImage(){
				var imgContainers=$(".imgContainer");
				var length=imgContainers.length;
				var index=0;
				var item=null;
				var imgUrl=null;
				getImg();
				function getImg(){
					item=imgContainers.eq(index);
					imgUrl=item.attr("imgUrl");
					if(imgUrl!=null || imgUrl!=undefined)
					{
						var image=new Image();
						image.onload=function(){
							item.css({"opacity":"1"});
							item.css({"background-image":"url("+imgUrl+")","opacity":"1"});
							index++;
							if(index<length)
							{
								getImg();
							}
						}
						image.src=imgUrl;
					}
					else
					{
						index++;
						if(index<length)
						{
							getImg();
						}
					}
				}
			}
			loadImage();
		})();
	});
	</script>
</body>
</html>
