.click {
  position: absolute;
  display: inline-block;
}
.imgContainer {
  /*width:100%;*/
  width: 1000px;
  margin: 0 auto;
  position: relative;
  height: 925px;
  background-position: center 0;
  background-repeat: no-repeat;
  opacity: 0;
  -webkit-transition: opacity 1s ease-out;
  transition: opacity 1s ease-out;
  -moz-transition: opacity 1s ease-out;
  -ms-transition: opacity 1s ease-out;
  -o-transition: opacity 1s ease-out;
}
.Message-ctr {
  width: 1000px;
  height: auto;
  margin: 0px auto;
  text-align: center;
}
.qglz-bnt input {
  width: 475px;
  margin-left: 290px;
  height: 70px;
  border: none;
  color: #fff;
  border-radius: 25px;
  -moz-border-radius: 25px;
  -webkit-border-radius: 52px;
  background-color: #cf3333;
  font-size: 30px;
  cursor: pointer;
}
.qglz-bnt input:hover {
  background-color: #c33468;
}
.Message-input,
.formSelect {
  width: 445px;
  height: 58px;
  border: 0;
  /*background: #FFFFFF;*/
  /*border-radius: 5px;*/
  margin-bottom: 50px;
  margin-left: 50px;
  border: 1px solid #FFFFFF;
  background: none;
  padding: 0 15px;
  color: #FFFFFF;
}
.formSelect {
  width: 475px;
  color: #FFFFFF;
  font-size: 20px;
}
.formSelect option {
  color: #003182;
  padding: 15px;
  display: inline-block;
}
.box {
  background-image: url(USEB5GJC_bj.jpg);
}
.center {
  width: 100%;
  background: #003182;
  font-size: 16px;
  line-height: 30px;
  height: auto;
  margin: 0px auto;
  padding: 1px;
  color: #636ea3;
  overflow: hidden;
}
.form-form {
  width: 1000px;
  margin: 0 auto;
}
.form-form label {
  width: 240px;
  text-align: right;
  display: inline-block;
  font-size: 20px;
  color: #FFFFFF;
}
.text-center {
  text-align: center;
}
.text {
  font-size: 22px;
  text-align: center;
}
.text span {
  color: #cf3333;
}
.xinxilan_06-bnt {
  width: 1000px;
  height: auto;
  margin: 0px auto;
}
.xinxilan_06-bnt ul {
  margin-left: 84px;
  margin-top: 4px;
}
.xinxilan_06-bnt li {
  width: 120px;
  height: 120px;
  border: solid #847cbb 1px;
  border-radius: 61px;
  line-height: 122px;
  text-align: center;
  font-size: 22px;
  color: #000;
  float: left;
  margin-left: 14px;
  cursor: pointer;
}
.xinxilan_06-bnt li.xinxilan_06-bnt-1 {
  width: 122px;
  height: 122px;
  border: none;
  background-color: #7c73b7;
  color: #fff;
}
.xinxilan_06-bnt li.xinxilan_06-bnt-2 {
  width: 122px;
  height: 122px;
  border: none;
  background-color: #7c73b7;
  color: #fff;
}
.xinxilan_06-bnt li.xinxilan_06-bnt-3 {
  width: 122px;
  height: 122px;
  border: none;
  background-color: #7c73b7;
  color: #fff;
}
.xinxilan_06-bnt li.xinxilan_06-bnt-4 {
  width: 122px;
  height: 122px;
  border: none;
  background-color: #7c73b7;
  color: #fff;
}
.xinxilan_06-bnt li.xinxilan_06-bnt-5 {
  width: 122px;
  height: 122px;
  border: none;
  background-color: #7c73b7;
  color: #fff;
}
.xinxilan_06-bnt li.xinxilan_06-bnt-6 {
  width: 122px;
  height: 122px;
  border: none;
  background-color: #7c73b7;
  color: #fff;
}
.xinxilan_06-text {
  width: 1000px;
  clear: left;
}
.xinxilan_06-text li {
  font-size: 16px;
  color: #000;
  line-height: 36px;
}
.xinxilan_06-text ul {
  padding-top: 55px;
  padding-left: 120px;
}
.fullSlide1,
.fullSlide2,
.fullSlide3 {
  width: 550px;
  position: relative;
  height: 300px;
  padding-top: 0px;
  position: absolute;
  bottom: 0;
  right: 0;
  overflow: hidden;
}
.fullSlide2,
.fullSlide3 {
  width: 632px;
  height: 440px;
}
.fullSlide2 {
  top: 90px;
  right: 10px;
}
.fullSlide3 {
  bottom: 34px;
  right: 13px;
}
.fullSlide1 .bd1,
.fullSlide2 .bd2,
.fullSlide3 .bd3 {
  margin: 0 auto;
  position: relative;
  z-index: 0;
  overflow: hidden;
}
.fullSlide1 .bd1 ul,
.fullSlide2 .bd2 ul,
.fullSlide3 .bd3 ul {
  width: 100% !important;
}
.fullSlide1 .bd1 li,
.fullSlide2 .bd2 li,
.fullSlide3 .bd3 li {
  width: 100% !important;
  height: 376px;
  overflow: hidden;
  text-align: center;
}
.fullSlide2 .bd2 li,
.fullSlide3 .bd3 li {
  height: 440px;
}
.fullSlide1 .bd1 li a,
.fullSlide2 .bd2 li a,
.fullSlide3 .bd3 li a {
  display: block;
  height: 410px;
}
.fullSlide1 .hd1,
.fullSlide2 .hd2,
.fullSlide3 .hd3 {
  width: 100%;
  position: absolute;
  z-index: 1;
  bottom: 0px;
  left: 0;
  height: 30px;
  line-height: 30px;
}
.fullSlide1 .hd1 ul,
.fullSlide2 .hd2 ul,
.fullSlide3 .hd3 ul {
  text-align: center;
}
.fullSlide2 .hd2 ul,
.fullSlide3 .hd3 ul {
  text-align: right;
  padding-right: 10px;
}
.fullSlide1 .hd1 ul li,
.fullSlide2 .hd2 ul li,
.fullSlide3 .hd3 ul li {
  cursor: pointer;
  display: inline-block;
  *display: inline;
  zoom: 1;
  width: 14px;
  height: 14px;
  margin: 2px;
  overflow: hidden;
  background: url(dian.png) no-repeat scroll left top;
  color: transparent;
}
.fullSlide1 .hd1 ul .on,
.fullSlide2 .hd2 ul .on,
.fullSlide3 .hd3 ul .on {
  background: url(dian.png) no-repeat scroll left bottom;
}
.mt-30 {
  margin-top: 30px !important;
}
.mt-60 {
  margin-top: 60px !important;
}
.mt-90 {
  margin-top: 90px !important;
}
.mb-30 {
  margin-bottom: 30px !important;
}
.pb-60 {
  padding-bottom: 60px !important;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.container {
  width: 100%;
  /*background: #020d42;*/
  font-size: 16px;
}
.click {
  position: absolute;
  display: inline-block;
}
.foot-center {
  padding-bottom: 30px;
}
.foot-center p {
  font-size: 16px !important;
  text-align: center;
  margin: 5px auto;
  color: #8a95ca;
}
.ask {
  display: inline-block;
  width: 515px;
  height: 65px;
  line-height: 65px;
  text-align: center;
  background: #cf3333;
  text-decoration: none;
  color: #FFFFFF;
  font-size: 26px;
  border-radius: 45px;
  margin: 60px auto 10px;
}
.ask:hover {
  color: #FFFFFF;
}
.foot-bg {
  background: url(bg.jpg) repeat;
  padding-bottom: 60px;
  margin-top: 100px;
  width: 100%;
  overflow: hidden;
}
/*.show {
    width: 643px;
    height: 379px;
    float: left;
}

.show li {
    display: none;
}

.show li:first-child {
    display: block;
}*/
.select {
  margin-left: 678px;
}
.select li {
  height: 45px;
  margin-bottom: 1px;
  background: #999;
  line-height: 28px;
  padding: 15px;
  color: #FFFFFF;
  position: relative;
  cursor: pointer;
}
.select li:before {
  content: '';
  width: 0;
  height: 0;
  bottom: 33px;
  left: -18px;
  position: absolute;
  border: 7px solid transparent;
  border-right: 12px solid #999;
}
.select li.on {
  background: #cf3333;
}
.select li.on:before {
  border-right: 12px solid #cf3333;
}
.fixed {
  width: 238px;
  height: 192px;
  position: fixed;
  top: 48%;
  left: 100px;
  background: url(fix-bg.png) no-repeat scroll left top;
}
.save-a {
  width: 160px;
  height: 160px;
  margin-left: 70px;
  margin-top: 22px;
}
.save-a a {
  display: inline-block;
  width: 49px;
  height: 49px;
  background: #bb1136;
  margin: 1px;
  color: #FFFFFF;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  line-height: 49px;
}
.a-title {
  position: absolute;
  top: 2px;
  left: 10px;
  font-size: 14px;
  font-weight: normal;
  color: #bb1136;
  background: #b9b9b9;
  border: 1px solid #7f7f7f;
  padding: 0 5px;
  display: none;
}
.save-a a.on {
  background: #ec3059;
}
.save-a a:hover {
  background: #ec3059;
}
