.bg-white {
  background: #FFFFFF;
}
.bg-grey {
  background: #f3f7fd !important;
}
.list-left-img {
  overflow: hidden;
  float: left\0;
  margin-right: 30px\0;
}
.list-left-img img {
  width: 100%;
  min-height: 100%;
}
.list-right-text {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
     -moz-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-left: 30px;
}
.list-right-text h2 {
  font-size: 24px;
  color: #000000;
  padding: 10px 0 15px;
}
.list-right-text p {
  color: #999999;
  line-height: 24px;
  overflow: hidden;
}
.border-radius-title {
  font-size: 22px;
  color: #FFFFFF;
  display: inline-block;
  background: #1878fc;
  padding: 7px 40px 7px 25px;
  border-radius: 0 25px 25px 0;
  position: absolute;
  left: 0;
  top: 30px;
}
.blue-btn {
  display: inline-block;
  color: #FFFFFF;
  float: right;
  font-size: 20px;
  padding: 12px 45px;
  background: #245bb9 !important;
}
.text-overflow {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  word-break: break-all;
  text-overflow: ellipsis;
}
.text-one-overflow {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.country-classify {
  background: #FFFFFF;
  padding: 10px 0;
  margin: 0 auto 40px;
}
.country-classify i {
  padding: 0 20px;
  color: #EAEAEA;
}
.country-classify .country-classify-ul {
  width: 1000px;
  float: left;
}
.country-classify .country-classify-ul li {
  float: left;
  padding-right: 40px;
  margin-bottom: 10px;
}
.country-classify .country-classify-ul li a {
  color: #999999;
}
.country-classify .country-classify-ul li a.on {
  color: #1878fc;
}
.country-classify .country-classify-ul li a:hover {
  color: #1878fc;
}
.country-classify > .col-xs-12 {
  margin: 10px auto;
}
.country-list {
  margin: 0 auto;
}
.country-list li {
  background: #FFFFFF;
  padding: 20px 30px;
  margin-bottom: 10px;
}
.country-list li .country-list-img {
  width: 110px;
  height: 110px;
  border-radius: 100%;
  overflow: hidden;
  float: left\0;
  margin-right: 30px\0;
}
.country-list li .country-list-img img {
  width: 100%;
  min-height: 100%;
}
.country-list li .country-list-text {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
     -moz-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-left: 30px;
}
.country-list li .country-list-text h2 {
  font-size: 24px;
  color: #000000;
  padding: 10px 0 15px;
}
.country-list li .country-list-text p {
  color: #999999;
  line-height: 24px;
  overflow: hidden;
}
.country-list li .country-list-text p {
  max-height: 50px;
}
.country-list li a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}
.country-list li:hover {
  background: #fafbfd;
  cursor: pointer;
}
.country-article-title {
  font-size: 30px;
  color: #303030;
  text-align: center;
  padding: 40px 0 60px;
}
.country-article-sign {
  border-bottom: 1px solid #EAEAEA;
  padding-bottom: 20px;
  padding: 0 10% 20px;
}
.country-article-sign li {
  text-align: center;
  color: #999999;
  font-size: 14px;
  float: left;
  width: 25%;
}
.country-article-body {
  padding: 20px;
  line-height: 30px;
  text-align: justify;
}
.country-article-body p,
.country-article-body div {
  margin-bottom: 20px;
}
.country-article-body img {
  max-width: 100%;
  margin: 15px auto;
  display: block;
}
.country-intro {
  background: #FFFFFF;
  padding: 30px;
}
.country-intro .country-list-img {
  width: 300px;
  height: 225px;
  overflow: hidden;
  float: left\0;
  margin-right: 30px\0;
}
.country-intro .country-list-img img {
  width: 100%;
  min-height: 100%;
}
.country-intro .country-list-text {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
     -moz-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-left: 30px;
}
.country-intro .country-list-text h2 {
  font-size: 24px;
  color: #000000;
  padding: 10px 0 15px;
}
.country-intro .country-list-text p {
  color: #999999;
  line-height: 24px;
  overflow: hidden;
}
/*lyx_tab必带css*/
.lyx-tab-hand {
  clear: both;
  text-align: center;
}
.lyx-tab-hand li {
  font-size: 20px;
  display: inline-block;
  cursor: pointer;
  padding: 30px;
  margin: 0 10px;
}
.lyx-tab-hand li.on {
  color: #1878fc;
  border-bottom: 2px solid #1878fc;
}
.lyx-tab-container {
  clear: both;
}
.lyx-tab-box {
  display: none;
}
.show {
  display: block;
}
.country-item-box {
  width: 100%;
}
.country-item-box .country-one {
  padding: 40px;
}
.country-item-box .country-one .country-article-title {
  font-size: 24px;
}
.country-item-box .country-one:nth-child(even) {
  background: #f3f7fd !important;
}
.country-item-box .country-one:nth-child(odd) {
  background: #FFFFFF;
}
.country-hot-ul li {
  background: #FFFFFF;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #e2edfd;
  padding-right: 30px;
  margin-bottom: 30px;
  cursor: pointer;
}
.country-hot-ul li .country-list-img {
  width: 300px;
  height: 205px;
  overflow: hidden;
  float: left\0;
  margin-right: 30px\0;
}
.country-hot-ul li .country-list-img img {
  width: 100%;
  min-height: 100%;
}
.country-hot-ul li .country-list-text {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
     -moz-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-left: 30px;
  height: 100%;
  overflow: hidden;
  padding: 20px 0;
}
.country-hot-ul li .country-list-text h2 {
  font-size: 24px;
  color: #000000;
  padding: 10px 0 15px;
}
.country-hot-ul li .country-list-text p {
  color: #999999;
  line-height: 24px;
  overflow: hidden;
}
.country-hot-ul li .country-list-text h2 a {
  color: #1878fc;
  font-size: 20px;
}
.country-hot-ul li .country-list-text p {
  color: #717171;
  max-height: 100px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  word-break: break-all;
  text-overflow: ellipsis;
  -webkit-line-clamp: 4;
}
.country-hot-ul li .country-list-text ol {
  width: 100%;
  margin-top: 18px;
  overflow: hidden;
}
.country-hot-ul li .country-list-text ol li {
  border: 0;
  width: 37%;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  float: left;
  margin-bottom: 10px;
}
.country-hot-ul li .country-list-text ol li:nth-child(2n) {
  width: 62%;
}
.country-hot-ul li:hover {
  background: #fafbfd;
}
.country-hot-ul li:hover ol li {
  background: #fafbfd;
}
.country-life-hand {
  margin-bottom: 40px;
}
.country-life-hand li {
  padding: 7px 15px;
  color: #1878fc;
  border-radius: 30px;
}
.country-life-hand li.on {
  border-bottom: 0;
  background: #1878fc;
  color: #FFFFFF;
}
.country-item-intro {
  background: #f3f7fd !important;
  padding: 30px 40px 40px 30px;
  margin-bottom: 40px;
  position: relative;
}
.country-item-intro .country-item-title {
  font-size: 22px;
  color: #FFFFFF;
  display: inline-block;
  background: #1878fc;
  padding: 7px 40px 7px 25px;
  border-radius: 0 25px 25px 0;
  position: absolute;
  left: 0;
  top: 30px;
}
.country-item-intro .country-item-title2 {
  font-size: 18px;
  font-weight: 600;
  border-left: 3px solid #1878fc;
  margin: 65px 0px 15px;
  padding-left: 15px;
}
.country-item-intro .country-item-advantage li {
  padding: 3px 0;
}
.country-item-intro .country-item-table {
  border: 0;
  background: #FFFFFF;
  margin: 30px auto;
}
.country-item-intro .country-item-table th,
.country-item-intro .country-item-table td {
  width: 20%;
  text-align: center;
  padding: 15px;
  border: 1px solid #f3f7fd;
}
.country-item-intro .country-item-table th {
  font-weight: 600;
}
.country-item-intro .country-seemore:hover {
  color: #FFFFFF !important;
}
.country-item-intro .country-seemore:visited {
  color: #FFFFFF !important;
}
.country-item-intro .project-sign {
  top: 45px;
  bottom: auto;
}
.country-new-policy {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}
.country-new-policy .country-list-img {
  width: 440px;
  height: 245px;
  overflow: hidden;
  float: left\0;
  margin-right: 30px\0;
}
.country-new-policy .country-list-img img {
  width: 100%;
  min-height: 100%;
}
.country-new-policy .country-list-text {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
     -moz-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-left: 30px;
  height: 100%;
  overflow: hidden;
}
.country-new-policy .country-list-text h2 {
  font-size: 24px;
  color: #000000;
  padding: 10px 0 15px;
}
.country-new-policy .country-list-text p {
  color: #999999;
  line-height: 24px;
  overflow: hidden;
}
.country-new-policy .country-list-text h2 {
  padding-top: 0;
}
.country-new-policy .country-list-text h2 a {
  color: #1878fc;
  font-size: 22px;
  padding-left: 20px;
}
.country-new-policy .country-list-text p {
  color: #717171;
  max-height: 100px;
  overflow: hidden;
}
.country-new-policy .country-list-text .country-timestamp-day {
  color: #5591f6 !important;
}
.country-new-policy .country-list-text .country-timestamp-date {
  background: #5591f6;
}
.country-new-policy .country-list-text p.text-justify {
  width: 100%;
  line-height: 27px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  word-break: break-all;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  margin-bottom: 20px;
}
.country-seemore {
  background: #1878fc;
  color: #FFFFFF !important;
  display: inline-block;
  padding: 13px 25px;
  cursor: pointer;
}
.country-timestamp {
  border: 1px solid #e2edfd;
  width: 80px;
  height: 80px;
  color: #adbfdb;
  text-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.country-timestamp .country-timestamp-day {
  font-size: 40px;
  color: #adbfdb !important;
  height: 50px;
  line-height: 50px !important;
  background: #f3f7fd;
}
.country-timestamp .country-timestamp-date {
  color: #adbfdb;
  background: #f3f7fd;
  color: #FFFFFF !important;
  font-size: 18px;
  background: #adbfdb;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
     -moz-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  line-height: 28px;
}
.country-new-list {
  padding: 30px 15px;
}
.country-new-list li {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}
.country-new-list li .country-list-text {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
     -moz-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-left: 30px;
}
.country-new-list li .country-list-text h2 {
  font-size: 24px;
  color: #000000;
  padding: 10px 0 15px;
}
.country-new-list li .country-list-text p {
  color: #999999;
  line-height: 24px;
  overflow: hidden;
}
.country-new-list li .country-list-text h2 {
  font-size: 18px;
  padding: 8px 0;
  font-weight: bold;
}
.country-new-list li .country-list-text p {
  color: #717171;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  word-break: break-all;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
}
.country-new-page {
  text-align: center;
  padding-bottom: 20px;
  color: #9eabc3;
}
.country-new-page a {
  display: inline-block;
  padding: 5px 10px;
  color: #9eabc3;
}
.country-new-page .page-pre,
.country-new-page .page-next {
  border: 1px solid #9eabc3;
  background: #FFFFFF;
}
.country-new-page .page-current {
  color: #5591f6;
}
.project-h2 {
  width: 100%;
  position: relative;
  min-height: 80px;
  z-index: 10;
}
.project-h2 a {
  margin: 30px 30px 0 0;
  color: #FFFFFF;
}
.project-intro {
  position: relative;
  background: #FFFFFF;
  padding: 0 30px 30px 30px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}
.project-intro .country-list-img {
  width: 300px;
  height: 205px;
  overflow: hidden;
  float: left\0;
  margin-right: 30px\0;
  margin-top: 30px;
}
.project-intro .country-list-img img {
  width: 100%;
  min-height: 100%;
}
.project-intro .country-list-text {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
     -moz-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-left: 30px;
  margin-top: 30px;
  padding-top: 25px;
}
.project-intro .country-list-text h2 {
  font-size: 24px;
  color: #000000;
  padding: 10px 0 15px;
}
.project-intro .country-list-text p {
  color: #999999;
  line-height: 24px;
  overflow: hidden;
}
hr {
  width: 94.5%;
  margin-left: 30px;
}
.project-classfy {
  padding: 0px 30px 30px 30px;
}
.project-classfy li {
  padding-bottom: 8px;
}
.project-classfy li i {
  display: inline-block;
  width: 18px;
  height: 18px;
  background: url(../images/assess-ico.png) no-repeat scroll left bottom;
}
.project-sign {
  position: absolute;
  right: 30px;
  bottom: 30px;
}
.project-ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}
.project-ul li {
  width: 270px;
  overflow: hidden;
  margin-bottom: 40px;
}
.project-ul li .project-img {
  width: 100%;
  height: 186px;
  overflow: hidden;
}
.project-ul li .project-img img {
  width: 100%;
  min-height: 100%;
}
.project-ul li h2 {
  font-size: 18px;
  color: #5591f6;
  padding: 5px 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.project-ul li h2 a {
  color: #1878fc;
}
.project-ul li .project-text {
  width: 100%;
  line-height: 25px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  word-break: break-all;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
}
.project-flow {
  width: 50%;
  border-left: 2px solid #0D89FB;
  margin-left: 50%;
  padding: 20px 0;
  margin-bottom: 40px;
}
.project-flow li {
  margin-bottom: 40px;
}
.project-flow li i {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: #FFFFFF;
  border-radius: 100%;
  border: 3px solid #1878fc;
  margin-left: -9px;
  margin-right: 26px;
}
.project-flow li span {
  display: inline-block;
  width: 535px;
}
.project-flow li:nth-child(odd) span {
  position: absolute;
  left: 0%;
  text-align: right;
}
