.section {
  min-width: 1170px;
}
.index {
  width: 100%;
  height: 100%;
}
.index-1 {
  background: #fff;
}
.banner {
  width: 100%;
  height: 60%;
  position: relative;
}
.banner .bannerContent {
  width: 2000px;
  height: 100%;
  position: absolute;
  left: 50%;
  margin-left: -1000px;
  overflow: hidden;
}
.banner .bannerContent .banner-slider {
  width: 100%;
  height: 100%;
}
.banner .bannerContent .banner-slider li {
  width: 100%;
  height: 100%;
}
.banner .bannerContent .banner-slider li a {
  display: block;
  width: 100%;
  height: 100%;
}
.bx-wrapper .bx-pager {
  top: 70%;
}
.bx-wrapper .bx-pager.bx-default-pager a {
  background: url("../images/dian2.png") no-repeat;
  background-size: 100% 100%;
  text-indent: -9999px;
  display: block;
  width: 14px;
  height: 14px;
  margin-top: 5px;
  outline: 0;
}
.bx-wrapper .bx-pager.bx-default-pager a:hover {
  background: url("../images/dian2.png") no-repeat;
  background-size: 100% 100%;
  text-indent: -9999px;
  display: block;
  width: 14px;
  height: 14px;
  margin-top: 5px;
  outline: 0;
}
.bx-wrapper .bx-pager.bx-default-pager a.active {
  width: 14px;
  height: 14px;
  margin: 0px 5px;
  background: url("../images/dian1.png") no-repeat;
  background-size: 100% 100%;
}
.index-search {
  width: 100%;
  height: 15%;
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  left: 0;
  bottom: 0%;
}
.search {
  width: 1000px;
  height: 80%;
  margin: 0.5% auto;
}
.search .btn {
  float: left;
  width: 210px;
  height: 100%;
  background: #1878fc;
  color: #fff;
  font-size: 20px;
  border: none;
  border-radius: 0;
}
.search .btn span {
  display: block;
}
.search .btn .select-small {
  font-size: 14px;
  color: #a8ccfd;
}
.input {
  display: block;
  float: left;
  width: 380px;
  height: 100%;
}
.select {
  width: 380px;
  height: 100%;
  position: relative;
  background: #fff;
}
.select p {
  width: 380px;
  height: 100%;
  color: #fff;
  line-height: 60px;
  text-indent: 20px;
  font-size: 18px;
  color: #717171;
  border: 1px solid #ccc;
  border-right: transparent;
}
.input i {
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;
  border: 8px solid transparent;
  border-top-color: #ccc;
  right: 30px;
  top: 26px;
  cursor: pointer;
}
.input.up i {
  border-top-color: transparent;
  border-bottom-color: #ccc;
  top: 20px;
}
.select ul {
  width: 380px;
  border: 1px solid #ccc;
  border-top: transparent;
  display: none;
  background: #fff;
  z-index: 3;
  position: absolute;
}
.select ul li {
  width: 380px;
  height: 35px;
  line-height: 35px;
  text-indent: 10px;
  color: #717171;
  border-bottom: 1px solid #f0f0f0;
  margin-left: -1px;
  border-left: 0;
  border-right: 0;
}
.select ul li:hover {
  background: #dadada;
}
.index1-main {
  width: 1170px;
  margin: 0 auto;
  height: 40%;
}
.index1-main .top-line {
  width: 100%;
  height: 30%;
  padding-top: 3%;
}
.index1-main .top-line .hot-slider {
  width: 1170px;
  height: 40px;
  overflow: hidden;
  text-align: center;
  z-index: 1;
}
.index1-main .top-line .hot-slider a {
  display: block;
}
.index1-main .top-line .hot-slider a span {
  font-size: 18px;
  color: #1878fc;
  display: inline-block;
  background: url("../images/hot.png") no-repeat;
  height: 40px;
  line-height: 40px;
  padding-left: 60px;
}
.index-icon {
  width: 100%;
  height: 70%;
}
.index-icon .icones {
  padding-top: 3%;
}
.index-icon .icones dl {
  width: 16%;
  float: left;
}
.index-icon .icones dl dt {
  width: 60px;
  height: 60px;
  overflow: hidden;
  margin: 0 auto;
  background: url("../images/index-icon.png") no-repeat;
  background-size: 60px;
}
.index-icon .icones dl dd {
  width: 60%;
  text-align: center;
  margin: 5% auto;
  font-size: 16px;
  color: #5591f6;
}
.index-icon .icones dl .pinpai {
  background-position: 0px -233px;
}
.index-icon .icones dl .jigou {
  background-position: 0px -463px;
}
.index-icon .icones dl .fuwu {
  background-position: 0px -703px;
}
.index-icon .icones dl .anli {
  background-position: 0px -929px;
}
.index-icon .icones dl .baozhang {
  background-position: 0px -1133px;
}
.index-2 {
  position: relative;
}
.index-2 .fuhao1 {
  width: 30%;
  position: absolute;
  left: 0;
  bottom: 0;
}
.index-2 .fuhao1 img {
  width: 100%;
}
.index-2 .index2-left {
  width: 30%;
  height: 100%;
  background: #0f1a38;
  float: left;
}
.index-2 .index2-left .index2-title {
  width: 200px;
  height: 115px;
  margin-top: 60%;
  margin-left: 20%;
  position: relative;
  background: url("../images/index2-title1.png") no-repeat;
  background-size: 100% 100%;
  background-position: right bottom;
}
.index-2 .index2-left .index2-title p {
  font-size: 30px;
  color: #fff;
  position: absolute;
  left: 12px;
  top: -22px;
}
.index-2 .index2-left .index2-title .index2-title1 {
  width: 100px;
  height: 35px;
  position: absolute;
  left: -32px;
  top: 24px;
  background: url("../images/index2-title2.png") no-repeat;
  background-size: 100%;
}
.index-2 .index2-left .index2-title .index2-title2 {
  width: 190px;
  height: 25px;
  position: absolute;
  left: -22px;
  top: 64px;
  background: url("../images/index2-title3.png") no-repeat;
  background-size: 100%;
}
.index-2 .index2-right {
  width: 70%;
  height: 100%;
  float: left;
}
.index-2 .index2-right img {
  width: 100%;
  height: 100%;
}
.index2-main {
  width: 70%;
  height: 86%;
  background: #fff;
  position: absolute;
  left: 25%;
  top: 7%;
}
.index2-main-left {
  width: 46%;
  height: 100%;
  float: left;
}
.Recent-top {
  width: 100%;
  height: 30%;
}
.Recent-title {
  width: 100%;
  height: 30%;
  position: relative;
  min-height: 60px;
}
.Recent-title .index2-title-icon {
  display: block;
  width: 8%;
  height: 100%;
  margin-left: 5%;
  margin-top: 2%;
  background: url("../images/index2-iocn.png") no-repeat;
  background-size: 100% auto;
}
.Recent-title p {
  font-size: 18px;
  color: #1878fc;
  position: absolute;
  left: 17%;
  top: 5%;
}
.Recent-title .english {
  font-size: 18px;
  color: #909090;
  position: absolute;
  left: 17%;
  top: 45%;
}
.Recent-title a {
  display: block;
  font-size: 14px;
  color: #1878fc;
  padding-bottom: 10px;
  position: absolute;
  right: 5%;
  top: 25%;
  border-bottom: 3px solid #1878fc;
}
.Recent-content {
  width: 80%;
  height: 70%;
  margin-left: 17%;
}
.Recent-content dl {
  width: 100%;
  height: 100%;
}
.Recent-content dl dt {
  width: 40%;
  height: 100%;
  float: left;
}
.Recent-content dl dt img {
  width: 80%;
  margin-top: 5%;
}
.Recent-content dl dd {
  width: 60%;
  height: 100%;
  float: left;
  padding-top: 2%;
  position: relative;
}
.Recent-content dl dd h4 {
  color: #5591f6;
  font-size: 16px;
}
.Recent-content dl dd h4 a {
  color: #717171;
  font-size: 16px;
}
.Recent-content dl dd h4 a:hover {
  color: #1878fc;
  font-size: 16px;
}
.Recent-content dl dd p {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  min-height: 22px;
  background: url("../images/clock.png") no-repeat;
  background-size: 18px auto;
  color: #999999;
  font-size: 14px;
  padding-left: 11%;
}
.Recent-content dl dd .Recent-time {
  margin-top: 10px;
}
.Recent-content dl dd .Recent-adress {
  background-position: 0 -69px;
}
.Recent-content dl dd .js-messageBtn {
  display: block;
  width: 140px;
  height: 36px;
  background: #1878fc;
  position: absolute;
  left: 0;
  bottom: 0%;
  color: #fff;
}
.Recent-content dl dd .Recent-over {
  width: 140px;
  height: 36px;
  position: absolute;
  left: 0;
  bottom: 0%;
  color: #99bbee;
  background: #e2edfd;
}
.Recent-bottom {
  width: 100%;
  height: 70%;
  padding-top: 2%;
}
.Recent-bottom .Recent-list {
  width: 80%;
  height: 18%;
  background: #fff;
  margin-left: 17%;
  position: relative;
  border-bottom: 1px dashed #dcdcdc;
}
.Recent-bottom .Recent-list h4 {
  width: 100%;
  color: #373737;
  font-size: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-top: 2%;
}
.Recent-bottom .Recent-list h4 a {
  color: #373737;
}
.Recent-bottom .Recent-list h4 a:hover {
  color: #1878fc;
}
.Recent-bottom .Recent-list p {
  width: 60%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  min-height: 22px;
  background: url("../images/clock.png") no-repeat;
  background-size: 18px auto;
  color: #999999;
  font-size: 14px;
  padding-left: 6%;
}
.Recent-bottom .Recent-list .Recent-time {
  margin-top: 2%;
}
.Recent-bottom .Recent-list .Recent-adress {
  background-position: 0 -69px;
}
.Recent-bottom .Recent-list button {
  display: block;
  width: 140px;
  height: 36px;
  background: #1878fc;
  position: absolute;
  right: 2%;
  bottom: 10%;
  color: #fff;
}
.Recent-bottom .Recent-list .Recent-over {
  color: #99bbee;
  background: #e2edfd;
}
.index2-main-right {
  width: 50%;
  height: 100%;
  float: left;
}
.Policies-top {
  width: 100%;
  height: 60%;
}
.Policies-top .Recent-title {
  width: 100%;
  height: 15%;
}
.Policies-top .Recent-title .index2-title-icon2 {
  background: url("../images/index2-iocn2_02.png") no-repeat;
  background-size: 100% auto;
}
.Policies-top .Policies-content {
  width: 100%;
  height: 85%;
}
.Policies-top .Policies-content .Policies-list {
  width: 80%;
  height: 25%;
  background: #fff;
  margin-left: 17%;
}
.Policies-top .Policies-content .Policies-list dl {
  width: 100%;
  height: 50%;
}
.Policies-top .Policies-content .Policies-list dl .country-timestamp {
  border: 1px solid #e2edfd;
  width: 80px;
  height: 80px;
  color: #adbfdb;
  text-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  float: left;
  margin-right: 3%;
}
.Policies-top .Policies-content .Policies-list dl .country-timestamp .country-timestamp-day {
  font-size: 39px;
  color: #adbfdb;
  height: 50px;
  line-height: 50px;
  background: #f3f7fd;
}
.Policies-top .Policies-content .Policies-list dl .country-timestamp .country-timestamp-date {
  color: #adbfdb;
  background: #f3f7fd;
  color: #FFFFFF;
  font-size: 16px;
  background: #adbfdb;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
     -moz-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  line-height: 28px;
}
.Policies-top .Policies-content .Policies-list dl dd .Policies-list-title {
  color: #303030;
  font-size: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.Policies-top .Policies-content .Policies-list dl dd .Policies-list-title:hover {
  color: #1878fc;
}
.Policies-top .Policies-content .Policies-list dl dd .Policies-list-main {
  margin-top: 5px;
  font-size: 16px;
  line-height: 20px;
  height: 40px;
  color: #717171;
  background: none;
  text-indent: 0;
  display: -webkit-box !important;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.Policies-top .Policies-content .Policies-list1 {
  height: 45%;
}
.Policies-top .Policies-content .Policies-list1 dl .country-timestamp .country-timestamp-day {
  color: #5591f6;
}
.Policies-top .Policies-content .Policies-list1 dl .country-timestamp .country-timestamp-date {
  background: #5591f6;
}
.Policies-top .Policies-content .Policies-list1 dl dd {
  display: block;
  height: 100%;
  color: #717171;
  font-size: 18px;
  line-height: 35px;
}
.Policies-top .Policies-content .Policies-list1 dl dd:hover {
  color: #5591f6;
}
.Policies-top .Policies-content .Policies-list1 .Policies-list-content {
  width: 100%;
  height: 60px;
  line-height: 20px;
  color: #717171;
  font-size: 16px;
  background: none;
  text-indent: 0;
  display: -webkit-box !important;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}
.Policies-bottom {
  width: 100%;
  height: 40%;
}
.Policies-bottom h2 {
  width: 100%;
  height: 25%;
}
.Policies-bottom h2 .index2-title-icon3 {
  background: url("../images/index2-iocn3_04.png") no-repeat;
  background-size: 100% auto;
}
.Policies-bottom .live-content {
  width: 80%;
  height: 75%;
  margin-left: 17%;
}
.Policies-bottom .live-content .live-left,
.Policies-bottom .live-content .live-right {
  width: 50%;
  height: 100%;
  float: left;
}
.Policies-bottom .live-content .live-left dl dt,
.Policies-bottom .live-content .live-right dl dt {
  width: 80%;
  position: relative;
}
.Policies-bottom .live-content .live-left dl dt img,
.Policies-bottom .live-content .live-right dl dt img {
  width: 100%;
}
.Policies-bottom .live-content .live-left dl dt .live-zhibo,
.Policies-bottom .live-content .live-right dl dt .live-zhibo {
  width: 30%;
  position: absolute;
  right: 0;
  top: 0;
}
.Policies-bottom .live-content .live-left dl dt .live-zhibo img,
.Policies-bottom .live-content .live-right dl dt .live-zhibo img {
  width: 100%;
}
.Policies-bottom .live-content .live-left dl dd .live-masagge,
.Policies-bottom .live-content .live-right dl dd .live-masagge {
  color: #282828;
  font-size: 16px;
  margin-bottom: 1%;
}
.Policies-bottom .live-content .live-left dl dd .live-time,
.Policies-bottom .live-content .live-right dl dd .live-time,
.Policies-bottom .live-content .live-left dl dd .live-adress,
.Policies-bottom .live-content .live-right dl dd .live-adress {
  color: #616161;
  font-size: 14px;
}
.index-3 {
  background: #fff;
  position: relative;
}
.index-3 .fuhao2 {
  width: 30%;
  height: auto;
  position: absolute;
  right: 0;
  bottom: 0%;
}
.index-3 .fuhao2 img {
  width: 100%;
}
.index3 {
  width: 90%;
  height: 60%;
  position: absolute;
  top: 20%;
  left: 5%;
}
.index3-left,
.index3-center,
.index3-right {
  width: 33.3%;
  height: 100%;
  float: left;
}
.index3-left .index3-img1 {
  width: 100%;
  height: 50%;
  overflow: hidden;
}
.index3-left .index3-img2 {
  width: 100%;
  height: 50%;
  overflow: hidden;
}
.index3-pic {
  position: relative;
}
.index3-pic img {
  width: 100%;
}
.index3-pic span {
  width: 100%;
  height: 100%;
  background: rgba(15, 26, 56, 0.6);
  color: #fff;
  font-size: 30px;
  position: absolute;
  left: 0%;
  top: 0%;
  text-align: center;
  padding-top: 23%;
}
.index3-pic .index3-pic-mark {
  width: 100%;
  height: 100%;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
}
.index3-pic .index3-pic-mark h4 {
  color: #fff;
  font-size: 20px;
  padding-top: 10%;
  padding-left: 5%;
}
.index3-pic .index3-pic-mark .biaoqian {
  width: 90%;
  margin-top: 2%;
  padding-left: 5%;
}
.index3-pic .index3-pic-mark .biaoqian em {
  display: inline-block;
  padding: 3px 10px;
  text-align: center;
  color: #fff;
  font-size: 16px;
  border: 1px solid #fff;
  border-radius: 15px;
  margin-right: 10px;
}
.index3-pic .index3-pic-mark .tedian {
  width: 80%;
  height: 50px;
  font-size: 16px;
  color: #fff;
  line-height: 24px;
  margin-top: 2%;
  padding-left: 5%;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
.index3-pic1 {
  width: 95%;
  margin-left: 2.5%;
  margin-top: 2%;
}
.index3-pic2 {
  width: 70%;
  margin-left: 27.5%;
  margin-top: 5%;
}
.index3-pic2 .index3-pic-mark h4 {
  font-size: 18px;
  padding-top: 5%;
}
.index3-pic2 .index3-pic-mark .tedian {
  font-size: 14px;
  width: 95%;
}
.index3-center .index3-title {
  width: 100%;
  height: 40%;
  margin-left: 10%;
}
.index3-center .index3-title .Preferably-main {
  width: 330px;
  height: 119px;
  position: relative;
  background: url("../images/index3-title1.png") no-repeat;
  background-position: left top;
  background-size: auto 100%;
}
.index3-center .index3-title .Preferably-main .Preferably-title {
  font-size: 28px;
  color: #3e3e3e;
  position: absolute;
  left: 180px;
  top: 15px;
}
.index3-center .index3-title .Preferably-main .Preferably-english {
  font-size: 35px;
  color: #c8c8c8;
  position: absolute;
  left: 30px;
  top: 55px;
}
.index3-center .index3-title .Preferably-main .Preferably-english span {
  display: inline;
  color: #1878fc;
}
.index3-img3 {
  width: 100%;
  height: 60%;
  margin-top: 3%;
  overflow: hidden;
}
.index3-pic3 {
  width: 100%;
}
.index3-right .index3-img4 {
  width: 100%;
  height: 50%;
  padding-top: 30%;
}
.index3-pic4 {
  width: 90%;
  margin-left: 5%;
}
.index-4 {
  background: url("../images/index4-bg.jpg") no-repeat;
  background-size: 100% 100%;
  position: relative;
}
.Hot-Projects {
  width: 30%;
  height: 100%;
  padding-top: 17%;
  padding-left: 5%;
}
.Hot-Projects .index4-title {
  width: 300px;
  height: 116px;
  position: relative;
  background: url("../images/index4-title.png") no-repeat;
  background-size: 244px 95px;
  background-position: left bottom;
}
.Hot-Projects .index4-title p {
  color: #fff;
  font-size: 38px;
  position: absolute;
  left: 20px;
  top: -4px;
}
.Hot-Projects .index4-title .hot-font1 {
  font-size: 40px;
  color: #1878fc;
  position: absolute;
  left: 170px;
  top: 2px;
}
.Hot-Projects .index4-title .hot-font2 {
  font-size: 40px;
  color: #d8d8d8;
  position: absolute;
  left: 164px;
  top: 50px;
}
.index4-main {
  width: 60%;
  height: 80%;
  position: absolute;
  right: 10%;
  top: 10%;
}
.index4-main .index4-img {
  width: 33.3%;
  background: blue;
  float: left;
  position: relative;
  overflow: hidden;
}
.index4-main .index4-img img {
  width: 100%;
}
.index4-main .index4-img .index4-img-bottom {
  width: 100%;
  height: 60px;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  font-size: 20px;
  line-height: 60px;
  text-align: center;
  position: absolute;
  left: 0;
  bottom: 0;
}
.index4-main .index4-img .index4-img-mark {
  width: 100%;
  height: 100%;
  background: rgba(15, 26, 56, 0.6);
  position: absolute;
  left: 0;
  bottom: 0;
  display: none;
}
.index4-main .index4-img .index4-img-mark h4 {
  width: 90%;
  height: 50px;
  margin-left: 5%;
  margin-top: 8%;
  color: #fff;
  font-size: 20px;
  border-bottom: 1px solid #fff;
}
.index4-main .index4-img .index4-img-mark ul {
  width: 90%;
  height: 150px;
  margin-left: 5%;
  margin-top: 10px;
  /* display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 6;
                overflow: hidden;*/
}
.index4-main .index4-img .index4-img-mark ul li {
  padding-left: 5%;
  color: #fff;
  font-size: 14px;
  line-height: 25px;
  height: 50px;
  background: url(../images/index4-dian_03.jpg) no-repeat;
  background-position: 0% 22%;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
.fuhao3 {
  width: 35%;
  position: absolute;
  left: 0;
  bottom: 0;
}
.fuhao3 img {
  width: 100%;
}
.index-5 {
  position: relative;
}
.fuhao4 {
  position: absolute;
  left: 0;
  top: 5%;
  width: 50%;
}
.fuhao4 img {
  width: 100%;
}
.index5-title {
  width: 373px;
  height: 150px;
  background: url("../images/index5-title.png") no-repeat;
  background-position: left;
  background-size: auto 100%;
  position: absolute;
  bottom: 10%;
  left: 34%;
}
.index5-title .index5-font1 {
  font-size: 30px;
  color: #3d3d3d;
  padding-top: 33px;
  padding-left: 30px;
}
.index5-title .index5-font2 {
  font-size: 30px;
  color: #c8c8c8;
  padding-left: 30px;
}
.index5-title .index5-font2 span {
  color: #1878fc;
}
.Company-main {
  width: 80%;
  height: 80%;
  position: absolute;
  top: 12%;
  left: 10%;
  background-color: transparent;
}
.Company-main .Company-major {
  width: 100%;
  height: 100%;
  background-color: transparent;
}
.Company-main .Company-content {
  width: 100%;
  height: 100%;
  background-color: transparent;
}
.Company-main .Company-content .Company-left {
  width: 35%;
  height: 100%;
  float: left;
  background-color: transparent;
}
.Company-main .Company-content .Company-left .index5-img1 {
  width: 100%;
  height: 70%;
  overflow: hidden;
  background-color: transparent;
}
.Company-main .Company-content .Company-left .index5-img1 img {
  width: 50%;
  margin-left: 45%;
  margin-top: 10%;
}
.Company-main .Company-content .Company-left .index5-img2 {
  width: 100%;
  height: 30%;
  overflow: hidden;
  background-color: transparent;
}
.Company-main .Company-content .Company-left .index5-img2 img {
  width: 80%;
}
.Company-main .Company-content .Company-center {
  width: 25%;
  height: 100%;
  float: left;
  background-color: transparent;
}
.Company-main .Company-content .Company-center .index5-img3 {
  width: 100%;
  height: 35%;
  overflow: hidden;
  background-color: transparent;
}
.Company-main .Company-content .Company-center .index5-img3 img {
  width: 95%;
  margin-top: 15%;
}
.Company-main .Company-content .Company-center .index5-img4 {
  width: 100%;
  height: 65%;
  overflow: hidden;
  background-color: transparent;
}
.Company-main .Company-content .Company-center .index5-img4 img {
  width: 95%;
  margin-top: 8%;
}
.Company-main .Company-content .Company-right {
  width: 40%;
  height: 100%;
  float: left;
  background-color: transparent;
}
.Company-main .Company-content .Company-right .index5-img5 {
  width: 100%;
  height: 35%;
  overflow: hidden;
  background-color: transparent;
}
.Company-main .Company-content .Company-right .index5-img5 img {
  width: 80%;
}
.Company-main .Company-content .Company-right .index5-img6 {
  width: 40%;
  height: 65%;
  overflow: hidden;
  float: left;
  background-color: transparent;
}
.Company-main .Company-content .Company-right .index5-img6 img {
  width: 95%;
  margin-top: 8%;
}
.Company-main .Company-content .Company-right .index5-img7 {
  width: 60%;
  height: 65%;
  overflow: hidden;
  float: left;
  background-color: transparent;
}
.Company-main .Company-content .Company-right .index5-img7 img {
  width: 95%;
  margin-left: 5%;
  margin-top: 7%;
}
.index5-pic-explain {
  display: none;
}
.index5-pic-bg {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: transparent;
}
.index5-pic {
  width: 50%;
  position: absolute;
  background: #fff;
  left: 25%;
  top: 15%;
  box-shadow: 0 0 20px #999a9e;
  text-align: center;
  /* border: 1px solid #999a9e;*/
}
.index5-pic .index5-pic-box {
  width: 100%;
  text-align: center;
  height: 80%;
  overflow: hidden;
}
.index5-pic .index5-pic-content {
  margin-top: 40px;
  margin-bottom: 30px;
}
.index5-pic .index5-pic-text {
  height: 52px;
  margin: 0px 50px 40px 50px;
  color: #616161;
  text-align: left;
  font-size: 16px;
  line-height: 26px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
.index5-pic .index5-btn {
  width: 30px;
  height: 30px;
  background: url("../images/index5-btn.png") no-repeat;
  background-size: 100% 100%;
  position: absolute;
  right: 10px;
  top: 10px;
}
.bx-wrapper {
  overflow: visible;
  width: 100%;
  height: 100%;
  background-color: transparent;
}
.bx-wrapper .bx-viewport {
  background-color: transparent;
}
.bx-wrapper .bx-controls-direction a {
  width: 40px;
  height: 68px;
}
.bx-wrapper .bx-prev {
  left: -9%;
  background: url("../images/index-btn.png") no-repeat 0px 0px;
  background-size: auto 100%;
}
.bx-wrapper .bx-next {
  right: -9%;
  background: url("../images/index-btn.png") no-repeat -110px 0px;
  background-size: auto 100%;
}
.bx-wrapper .bx-next:hover {
  background: url("../images/index-btn.png") no-repeat -110px 0px;
  background-size: auto 100%;
}
.index-6 {
  background: url("../images/index6-bg1.jpg") no-repeat;
  background-size: 100% 100%;
  position: relative;
}
.index6-main {
  width: 90%;
  height: 70%;
  background-color: transparent;
  position: absolute;
  left: 5%;
  top: 18%;
}
.index6-content {
  width: 47%;
  height: 50%;
  background-color: transparent;
  float: left;
}
.index6-content:nth-child(2n) {
  float: right;
}
.index6-content-title {
  width: 100%;
  height: 20%;
}
.index6-content-title p {
  color: #fff;
  font-size: 24px;
  padding-top: 3%;
}
.index6-content-title p span {
  font-size: 14px;
}
.Consultant-content {
  width: 100%;
  height: 80%;
}
.Consultant-content .Consultant-img {
  width: 22%;
  position: relative;
  float: left;
  margin-right: 2%;
}
.Consultant-content .Consultant-img img {
  width: 100%;
}
.Consultant-content .Consultant-img .Consultant-text {
  width: 100%;
  height: 30%;
  position: absolute;
  background: rgba(0, 0, 0, 0.6);
  left: 0;
  bottom: 0;
}
.Consultant-content .Consultant-img .Consultant-text .Consultant-text-name {
  padding-top: 10%;
  color: #3ba3e1;
  font-size: 14px;
  text-align: center;
}
.Consultant-content .Consultant-img .Consultant-text .Consultant-text-font {
  color: #bdbdbd;
  font-size: 14px;
  text-align: center;
  margin-top: 3%;
}
.Consultant-content .Consultant-img .Consultant-pic-mark {
  width: 100%;
  height: 60%;
  background: rgba(15, 26, 56, 0.6);
  position: absolute;
  left: 0;
  bottom: 0;
  display: none;
}
.Consultant-content .Consultant-img .Consultant-pic-mark p {
  font-size: 14px;
  color: #fff;
  line-height: 20px;
  text-align: center;
}
.Consultant-content .Consultant-img .Consultant-pic-mark .Consultant-mark-name {
  padding-top: 10%;
}
.Consultant-content .Consultant-img .Consultant-pic-mark .Consultant-mark-font {
  line-height: 24px;
  margin-top: 5%;
  margin-left: 5%;
  width: 90%;
  height: 48px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
.index6-title {
  width: 300px;
  height: 109px;
  background: url("../images/index6-title.png") no-repeat;
  background-size: 230px 85px;
  background-position: 13px 25px;
  position: absolute;
  top: 6%;
  right: 10%;
}
.index6-title .index6-title-font {
  color: #fff;
  font-size: 30px;
  position: absolute;
  top: 30%;
  right: 8%;
}
.index6-title .index6-title-english {
  color: #fff;
  font-size: 30px;
  position: absolute;
  top: 70%;
  right: 8%;
}
.index6-title .index6-title-english span {
  color: #1878fc;
}
.fuhao5 {
  width: 40%;
  position: absolute;
  left: 0;
  bottom: 0;
}
.fuhao5 img {
  width: 100%;
}
.tpy-header-bar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  height: 70px;
  background: rgba(0, 0, 0, 0.85);
  width: 100%;
  display: none;
}
.tpy-header-bar .tpy-bottom-container {
  width: 1200px;
}
.tpy-header-bar .index-header-nav {
  padding-top: 14px;
}
.tpy-header-bar .index-header-nav ul {
  width: 100%;
}
.tpy-header-bar .index-header-nav ul li {
  position: relative;
  padding: 15px 10px;
  margin: 0 20px;
  float: left;
}
.tpy-header-bar .index-header-nav ul li a {
  color: #dddddd;
  font-size: 20px;
}
.tpy-header-bar .index-header-nav ul li i {
  display: inline-block;
  width: 0%;
  height: 5px;
  background: #1878fc;
  position: absolute;
  left: 50%;
  bottom: 0;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}
.tpy-header-bar .index-header-nav ul li.on a,
.tpy-header-bar .index-header-nav ul li:hover a {
  color: #1878fc;
}
.tpy-header-bar .index-header-nav ul li.on i,
.tpy-header-bar .index-header-nav ul li:hover i {
  display: inline-block;
  width: 100%;
  height: 5px;
  background: #1878fc;
  position: absolute;
  left: 0;
  bottom: 0;
}
.tpy-header-bar .index-header-nav ul li.on .index-company-box a,
.tpy-header-bar .index-header-nav ul li:hover .index-company-box a {
  color: #FFFFFF;
}
.tpy-header-bar .index-header-nav ul .index-country-box {
  position: absolute;
  left: 0;
  top: 56px;
  border: 1px solid #1878fc;
  background: #FFFFFF;
  width: 452px;
}
.tpy-header-bar .index-header-nav ul .index-country-box .index-country-left {
  width: 99px;
  background: #1878fc;
  float: left;
}
.tpy-header-bar .index-header-nav ul .index-country-box .index-country-left p {
  height: 50px;
  line-height: 50px;
  text-align: center;
  color: #FFFFFF;
  cursor: pointer;
}
.tpy-header-bar .index-header-nav ul .index-country-box .index-country-left p a {
  color: #fff;
  font-size: 16px;
}
.tpy-header-bar .index-header-nav ul .index-country-box .index-country-left p:hover,
.tpy-header-bar .index-header-nav ul .index-country-box .index-country-left p.on {
  background: #4894fc;
}
.tpy-header-bar .index-header-nav ul .index-country-box .index-country-right {
  padding: 15px 10px;
  padding-left: 110px;
}
.tpy-header-bar .index-header-nav ul .index-country-box .index-country-right p {
  display: none;
}
.tpy-header-bar .index-header-nav ul .index-country-box .index-country-right p a {
  display: inline-block;
  font-size: 16px;
  color: #1f2678;
  padding: 0px 20px;
  border-right: 1px solid #1f2678;
  margin-bottom: 15px;
}
.tpy-header-bar .index-header-nav ul .index-country-box .index-country-right p a:hover {
  color: #1878fc;
}
.tpy-header-bar .index-header-nav ul .index-company-box {
  position: absolute;
  left: 0;
  top: 56px;
  border: 1px solid #1878fc;
  background: #FFFFFF;
  width: 452px;
  width: 99px;
  background: #1878fc;
  float: left;
  width: 111px;
}
.tpy-header-bar .index-header-nav ul .index-company-box .index-country-left {
  width: 99px;
  background: #1878fc;
  float: left;
}
.tpy-header-bar .index-header-nav ul .index-company-box .index-country-left p {
  height: 50px;
  line-height: 50px;
  text-align: center;
  color: #FFFFFF;
  cursor: pointer;
}
.tpy-header-bar .index-header-nav ul .index-company-box .index-country-left p a {
  color: #fff;
  font-size: 16px;
}
.tpy-header-bar .index-header-nav ul .index-company-box .index-country-left p:hover,
.tpy-header-bar .index-header-nav ul .index-company-box .index-country-left p.on {
  background: #4894fc;
}
.tpy-header-bar .index-header-nav ul .index-company-box .index-country-right {
  padding: 15px 10px;
  padding-left: 110px;
}
.tpy-header-bar .index-header-nav ul .index-company-box .index-country-right p {
  display: none;
}
.tpy-header-bar .index-header-nav ul .index-company-box .index-country-right p a {
  display: inline-block;
  font-size: 16px;
  color: #1f2678;
  padding: 0px 20px;
  border-right: 1px solid #1f2678;
  margin-bottom: 15px;
}
.tpy-header-bar .index-header-nav ul .index-company-box .index-country-right p a:hover {
  color: #1878fc;
}
.tpy-header-bar .index-header-nav ul .index-company-box p {
  height: 50px;
  line-height: 50px;
  text-align: center;
  color: #FFFFFF;
  cursor: pointer;
}
.tpy-header-bar .index-header-nav ul .index-company-box p a {
  color: #fff;
  font-size: 16px;
}
.tpy-header-bar .index-header-nav ul .index-company-box p:hover,
.tpy-header-bar .index-header-nav ul .index-company-box p.on {
  background: #4894fc;
}
.tpy-header-bar .index-header-nav ul .index-company-box a {
  color: #FFFFFF;
  font-size: 16px;
}
.tpy-header-bar .index-header-nav ul .index-company-box a:hover {
  color: #FFFFFF;
}
.tpy-header-bar .tpy-header-status {
  padding-top: 2%;
  text-align: right;
  position: relative;
  padding-left: 18%;
}
.tpy-header-bar .tpy-header-status li {
  display: inline-block;
  padding-left: 65px;
  float: left;
  margin-right: 30px;
  padding: 4px 0;
  padding-left: 35px;
  background: url(../images/tpy-head-icon2_03.png) no-repeat scroll 0px 4px;
}
.tpy-header-bar .tpy-header-status li a {
  color: #fff;
}
.tpy-header-bar .tpy-header-status li.tpy-register {
  background-position: 0px -92px;
  margin-right: 0;
}
.tpy-header-bar .tpy-index-header-status {
  padding-top: 1.5%;
  text-align: right;
  position: relative;
  padding-left: 18%;
}
.tpy-header-bar .tpy-index-header-status li {
  display: inline-block;
  padding-left: 65px;
  float: left;
  margin-right: 30px;
  padding: 4px 0;
  padding-left: 35px;
  background: url(../images/tpy-head-icon2_03.png) no-repeat scroll 0px 4px;
}
.tpy-header-bar .tpy-index-header-status li a {
  color: #fff;
}
.tpy-header-bar .tpy-index-header-status li.tpy-register {
  background-position: 0px -92px;
  margin-right: 0;
}
.tpy-header-bar .tpy-login {
  padding: 7px;
  float: right;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.tpy-header-bar .tpy-login .tpy-login-img {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  overflow: hidden;
}
.tpy-header-bar .tpy-login .tpy-login-img img {
  width: 100%;
  min-height: 100%;
}
.tpy-header-bar .tpy-login .tpy-login-name {
  color: #1e2578;
  padding-left: 10px !important;
  padding-right: 40px !important;
  background: url(../images/tpy-arrow.png) no-repeat scroll right 4px;
}
.tpy-header-bar .tpy-index-login {
  padding: 7px;
  float: right;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: url(../images/tpy-arrow.png) no-repeat scroll right 18px;
}
.tpy-header-bar .tpy-index-login .tpy-index-login-img {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  overflow: hidden;
}
.tpy-header-bar .tpy-index-login .tpy-index-login-img img {
  width: 100%;
  min-height: 100%;
}
.tpy-header-bar .tpy-index-login .tpy-index-login-name {
  color: #fff;
  padding-left: 10px !important;
  padding-right: 40px !important;
}
.tpy-login.on {
  border: 1px solid #EAEAEA;
}
.tpy-login.on .tpy-login-name {
  background-position: right -65px;
}
.tpy-index-login.on {
  border: 1px solid #EAEAEA;
  background-position: right -52px;
}
.tpy-index-login.on .tpy-index-login-name {
  color: #fff;
}
.tpy-login-box {
  border: 1px solid #eaeaea;
  background: #FFFFFF;
  position: absolute;
  right: 15px;
  top: 90px;
  z-index: 10;
}
.tpy-login-box p {
  color: #303030;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-bottom: 1px dashed #EAEAEA;
}
.tpy-login-box p a {
  color: #303030;
}
.tpy-login-box p a:hover {
  color: #1878fc;
}
.tpy-login-box p:last-child {
  border-bottom: 0;
}
.tpy-index-login-box {
  border: 1px solid #eaeaea;
  background: #FFFFFF;
  position: absolute;
  right: 15px;
  top: 64px;
  z-index: 10;
}
.tpy-index-login-box p {
  color: #303030;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-bottom: 1px dashed #EAEAEA;
}
.tpy-index-login-box p a {
  color: #303030;
}
.tpy-index-login-box p a:hover {
  color: #1878fc;
}
.tpy-index-login-box p:last-child {
  border-bottom: 0;
}
.tpy-footer {
  padding: 52px 0;
}
#menu {
  position: fixed;
  width: 20px;
  height: 100%;
  text-align: center;
  right: 40px;
  top: 40%;
  padding: 0;
  z-index: 999999999;
  display: none;
}
.pot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #aaaaaa;
  opacity: 1;
  display: inline-block;
  z-index: 9999999;
  margin-bottom: 20px;
}
.pot a {
  display: inline-block;
  width: 100%;
  height: 100%;
}
.active.pot {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: transparent;
  border: 2px solid #aaaaaa;
  opacity: 1;
  z-index: 99999999;
  padding-bottom: 10px;
  display: inline-block;
}
/*弹框样式*/
.leave-message-box {
  width: 25%;
  border: 1px solid #1878fc;
  background: #FFFFFF;
  position: absolute;
  z-index: 999999;
}
.leave-message-box h2 {
  font-size: 16px;
  padding: 3% 6%;
  color: #FFFFFF;
  background: #1878fc;
}
.leave-message-box ul {
  padding: 2% 0;
}
.leave-message-box ul li input {
  border: 1px solid #d1dae8;
  width: 75%;
  padding: 5px;
}
.leave-message-box .blue-btn {
  background: #1878fc !important;
  margin-bottom: 15px;
  float: none;
  color: #fff;
  padding: 5px 20px;
}
